# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.sass-cache
dist
src/app/scss/vendors/*
!/src/app/scss/vendors/README.md

# User specific gulp-config settings
gulp-dev-config.json
